* {
    font-family: 'Nerko One', cursive;

}


.header-container {
    display: flex;
    background-color: #1F2937;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-container {
    width: 1000px;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    width: 80%;

    justify-content: space-between;
}

.logo {

    font-size: 24px;

}

.links {


}

.link-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.link-list > li {
    margin: 0 10px;
}

.hero-container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}

.card {
    width: 40%;
    color: white;
}

.card > h1 {
    font-size: 60px;
}
.card > p {
    color: rgba(255, 255, 255, .5);
}

.card > button {
    background-color: rgba(0, 119, 255, 0.667);
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
}

.image {
    width: 40%;
    background-color: grey;
    height: 210px;
    width: 350px;
    justify-content: center;
    align-items: center;
}

.icon-container {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto 30px auto;
    text-align: center;
}

.icon-container > h1 {

}
.icons {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    display: flex;
    width: 250px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.square-img {
    border:4px solid rgba(0, 119, 255, 0.667);
    height: 150px;
    width: 250px;
    border-radius: 10px;
}

.quote-container {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    
}

.quote {
    justify-content: center;
    display: flex;
    width: 60%;
    margin-top: 30px;
    font-size: 30px;


}

.quote-author {
    justify-content: right;
    display: flex;
    width: 60%;
    margin-bottom: 30px;
    font-size: 30px;

}

.footer-container {
    display: flex;
    background-color: white;
    justify-content: center;
}

.footer-box {
    display: flex;
    background-color: #3882F6;
    width: 900px;
    height: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    color: white;
    align-items: center;
    justify-content: space-around;
}

.footer-button > button {
    background-color: rgba(0, 119, 255, 0.667);
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;

}
